








/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


h2{text-align: center; color: white; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 2rem;}
p{text-align: center; color: pink;}
a{text-align: center;}
#container{
    padding: 35px; 
}
hr{max-width: 50px; border-width: 3px;}
 */
